/deep/ table.phy-upload-summary {

  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;

  width: 400px;
  margin: 20px auto;

  td {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: 7px;
  }

}

