.phy-fizz-buzz {

  display:inline-block;
  padding:10px;

  text-align: center;

  border:1px solid #f3f3f3;
  background-color:white;

  &__counter {
    font-weight:bold;
  }

  &__trigger {
    display:block;
    margin-top:15px;
    margin-left:auto;

  }

  &__result--fizz {
    color:#f1c40f;
  }

  &__result--buzz {
    color:#2980b9;
  }

  &__result--fizzbuzz {
    color:#2ecc71;
  }

}
