$border-color: #f3f3f3;
$bg-color: white;

$fizz-color: #f1c40f;
$buzz-color: #2980b9;
$fizz-buzz-color: #2ecc71;

.phy-fizz-buzz {

  display:inline-block;
  padding:10px;

  text-align: center;

  border:1px solid $border-color;
  background-color: $bg-color;

  &__counter {
    font-weight:bold;
  }

  &__trigger {
    display:block;
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
  }

  &__result--fizz {
    color: $fizz-color;
  }

  &__result--buzz {
    color: $buzz-color;
  }

  &__result--fizzbuzz {
    color:$fizz-buzz-color;
  }

}
