.phy-upload {

  width: 350px;
  display: inline-flex;

  &__name {

    cursor: not-allowed;
    flex: 1;
    background-color: #EEEEEE;
    border: 1px solid #ccc;
    color: #3c3c3c;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
    padding: 6px 12px;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__file {
    display: none;
  }

  &__button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

}
